NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://iam_admin:iam_dev_password@localhost:27017/blockchain_iam?authSource=admin

RPC_URL=http://127.0.0.1:8545
IDENTITY_CONTRACT_ADDRESS=
CREDENTIAL_CONTRACT_ADDRESS=
ACCESS_CONTROL_CONTRACT_ADDRESS=
JWT_SECRET=replace_with_a_generated_32+_char_secret
JWT_EXPIRY=1h
SIWE_DOMAIN=localhost
SIWE_URI=http://localhost:4000
SERVER_SALT=replace_with_a_generated_32+_char_secret
WS_RPC_URL=ws://127.0.0.1:8545
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlOGM4Y2U3OS0zNzI0LTRhZjItODNlZC05YTBhYTdiZmE5MzgiLCJlbWFpbCI6IjIxMDkwY3MwOTZAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjY1MTJmYmUyYzhhYTcyYWZiMjMwIiwic2NvcGVkS2V5U2VjcmV0IjoiNDRlODc3NmFiZmJmY2FhY2I0ODM5OGFjZTdjYjdjOTQwOGJmNTljMzhiZmRiZDY5NmJkZTliZmIwZGM1MGE4NiIsImV4cCI6MTgxNjgwMjg4N30.PeftKwoHVvJgIbt-vTxLMJJz3H9_4apC0j03sIG6N-E
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlOGM4Y2U3OS0zNzI0LTRhZjItODNlZC05YTBhYTdiZmE5MzgiLCJlbWFpbCI6IjIxMDkwY3MwOTZAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjY1MTJmYmUyYzhhYTcyYWZiMjMwIiwic2NvcGVkS2V5U2VjcmV0IjoiNDRlODc3NmFiZmJmY2FhY2I0ODM5OGFjZTdjYjdjOTQwOGJmNTljMzhiZmRiZDY5NmJkZTliZmIwZGM1MGE4NiIsImV4cCI6MTgxNjgwMjg4N30.PeftKwoHVvJgIbt-vTxLMJJz3H9_4apC0j03sIG6N-E
