NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://iam_admin:iam_dev_password@localhost:27017/blockchain_iam?authSource=admin

RPC_URL=http://127.0.0.1:8545
IDENTITY_CONTRACT_ADDRESS=
CREDENTIAL_CONTRACT_ADDRESS=
ACCESS_CONTROL_CONTRACT_ADDRESS=
JWT_SECRET=replace_with_a_generated_32+_char_secret
JWT_EXPIRY=1h
SIWE_DOMAIN=localhost
SIWE_URI=http://localhost:4000
SERVER_SALT=replace_with_a_generated_32+_char_secret
WS_RPC_URL=ws://127.0.0.1:8545
